<h1>OL3</h1>
<div id="map" class="map"></div>

<script type="text/javascript">

osm = new ol.layer.Tile({
   source: new ol.source.OSM()
});


var iconStyle = new ol.style.Style({
  image: new ol.style.Icon( ({
    src: '/images/green-dot.png'
  }))
});

icon_features = [];

points =  <%=raw @tracks.select{|a| a.lat.present?}.to_json %> ;


var map = new ol.Map({
  controls: ol.control.defaults().extend([
    new ol.control.FullScreen(),
  ]),
  target: 'map',
  layers: [osm],
  view: new ol.View2D({
    center: ol.proj.transform(p, 'EPSG:4326', 'EPSG:3857'),
    zoom: 12
  })
});


<%  @tracks.select{|a| a.lat.present?}.each do |l| %>
      p = [ <%= l.lon %> , <%= l.lat %>];
      g = new ol.geom.Point( p ).transform('EPSG:4326', 'EPSG:3857');
      map.addOverlay(new ol.Overlay({
        position: ol.proj.transform(p, 'EPSG:4326', 'EPSG:3857'),
        element: $('<img src="/images/red-dot.png">')
            .css({marginTop: '-200%', marginLeft: '-50%', cursor: 'pointer'})
            .tooltip({title: '<%=l.pos%>', trigger: 'hover'})
      }))
<% end %>



</script>
