<% provide(:title, 'Rutas') %>


<div class="container-fluid">

<% Lectura.periodos_pendientes.each do |p| %>

  <div class="col-sm-6 col-md-4">
  <a href="/ruta/index?periodo=<%=p%>"> 
  <div class="thumbnail">
    <h3 class="text-center"><%= p %></h3>

    <%
      estados = {"Leida" => 0, "Nueva" => 0}.merge! Lectura.where(periodo: p).group(:estado).count
    %>  
    <%= column_chart estados , height: "250px", colors:  ['green','red', 'yellow']  %>

  </div>
  </a>
  </div>

<% end %>

</div>
