<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @incidencium.nombre %>
</p>

<%= link_to 'Edit', edit_incidencium_path(@incidencium) %> |
<%= link_to 'Back', incidencia_path %>
