<%= form_for(@lectura_hst) do |f| %>
  <% if @lectura_hst.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lectura_hst.errors.count, "error") %> prohibited this lectura_hst from being saved:</h2>

      <ul>
      <% @lectura_hst.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
