

<!-- Modal -->
<div class="modal fade" id="appAndroid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Android</h4>
      </div>
      <div class="modal-body text-center">
      
        <%= image_tag "/qcode.svg" %>
        

      <div class="modal-footer">
          <%= button_to 'Descargar', url_for(controller: "main", action: "download_mobile") , {class: 'btn btn-primary', method: 'get', style:"float:left"} %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
